.todoList{
    align-items: center;
    margin-left: 35%;
}

.todo{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    height: 100px;
    background-color: white;
    color: black;
    border-radius: 50px;
    margin-top: 30px;
    font-size: 30px;
  
}

.input{
    width: 400px;
    height: 100px;
    background-color: white;
    color: black;
    border-radius: 50px;
    margin-top: 0px;
    font-size: 30px;
   padding-left: 58px;
}

.btn{
    width:   50px;
    height: 80px;
    margin-left: 20px;
    border-radius: 30px;
    font-size: 30px;
}

.value{
margin-top: 25px;
}
.box {  
     margin-top: 40px;
    top: 50;  
    left: 0;  
    height: 25px;  
    width: 25px;  
    background-color: rgb(0, 250, 0);  
    cursor: pointer;
  }  

  .d{
      width: 80px;
      height: 50px;
      margin-top: 30px;
      border-radius: 20px;
      background-color: rgb(4, 248, 17);
      cursor: pointer;
  }

  .d:hover{
      background-color: rgb(107, 3, 3);
      cursor: pointer;
  }
